{% extends "base.html" %}


{% block title %}Emprunt historique{% endblock %}

{% block content %}
    <center><h1>Les livres empruntés</h1></center>
    <div class="container pt-5">
    <table id="myTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Livre/Exemplaire</th>
                <th>Client</th>
                <th>Respo</th>
                <th>Date d'Emprunt</th>
                <th>Date de routeur</th>
                <th>Action</th>
            </tr>
        </thead>
    <tbody>
        {% for emp in emps %}
        <tr>
            <td id="row">{{emp.Exemplaire | safe}}</td>
            <td>{{emp.Client}}</td>
            <td>{{emp.mUser}}</td>
            <td>{{emp.Date_emprunt}}</td>
            <td>{{emp.Date_retourn}}</td>
            <td>
                <a href="{% url 'return' emp.Exemplaire.id %}?act=v"" class="btn btn-success">Return</a>
                <a href="{% url 'return' emp.Exemplaire.id %}?act=endm" class="btn btn-warning">Return endommagé</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}